_nuget_packages
_out
*.suo
.vs/
bin/
obj/
_ReSharper.Caches/
*.user
launchSettings.json
packages/
*.nupkg
.nuget/pack
.nuget/packages
.work
*.js.map
*.js
*.binlog
*.metaproj
*.metaproj.tmp
*.dll
*.pdb