<?xml version="1.0" encoding="utf-8"?>
<!--IMPORTANT! The config file must be named exactly NuGet.Config otherwise Visual Studio might generate another one 
or the Linux pipeline doesn't recognize it as the effective config.-->
<configuration>
  <packageSources>
    <!--<add key="nuget_noproxy" value="https://api.nuget.org/v3/index.json"></add>-->
    <!--<add key="test_local" value="pack" />-->
  </packageSources>
</configuration>